bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.Reactivities/.idea/encodings.xml
.idea/.idea.Reactivities/.idea/indexLayout.xml
.idea/.idea.Reactivities/.idea/vcs.xml
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectEvaluation/reactivities.projects.v7.bin
.vs/ProjectEvaluation/reactivities.metadata.v7.bin
.vs/Reactivities/DesignTimeBuild/.dtbcache.v2
.vs/Reactivities/FileContentIndex/3cec34fa-baa2-4629-adfa-012e167993e8.vsidx
.vs/Reactivities/FileContentIndex/d36a1fa4-d3b5-451d-a916-9df21d75065f.vsidx
.vs/Reactivities/v17/.futdcache.v2
.vs/Reactivities/v17/.suo
.vs/Reactivities/v17/.wsuo
.idea/.idea.Reactivities/.idea/.gitignore
.vs/Reactivities/v17/DocumentLayout.json
.vs/Reactivities/FileContentIndex/c4d8e13c-1b06-410c-958f-88ad5a5431be.vsidx
.vs/Reactivities/FileContentIndex/7430f89c-6d20-42f9-9e6f-8d708229d63e.vsidx
.vs/Reactivities/FileContentIndex/0b94036e-3dec-4cd0-a831-5761ded31169.vsidx
.vs/Reactivities/FileContentIndex/b8db0259-4f9b-458b-83e1-0a07571a9f35.vsidx
/.vs
